<div class="login_form">
   <%= image_tag  "log-in.png", class: "signup" %>

  <h3><%= flash[:notice] %></h3>

  <%= form_tag login_path, method: :post do %>
  <li class="bolder">  <%= label_tag "Name" %> </li>
    <%= text_field_tag :name %><br>
  <li class="bolder">   <%= label_tag "Password" %></li>
    <%= text_field_tag :password %><br>
    <%= submit_tag "Log in" , class: "create_btn" %>
  <% end %>

  <div style="padding-top:15px;"> Don’t have an account?
  <%= link_to("Sign Up", new_shopper_path) %> </div>
</div>
