



<div class= "header">
<h1 class="title">Farm to table</h1>
<%= link_to '/products' do %>
     <%= image_tag  "r.jpg", class: "main_photo" %>
<% end %>
<h2> — Your Neighborhood Grocer — </h2>
</div>

<div class="directory">


<%= link_to '/products/food_type/dairy' do %>
     <%= image_tag  "dairy.jpg", class: "main_photo" %>
<% end %>

<%= link_to '/products/food_type/meat' do %>
     <%= image_tag  "meats.jpg", class: "main_photo" %>
<% end %>

<%= link_to '/products/food_type/fruit' do %>
     <%= image_tag  "fruits.jpg", class: "main_photo" %>
<% end %>

  <%= link_to '/products/food_type/vegetable' do %>
       <%= image_tag  "vegetables.jpg", class: "main_photo" %>
  <% end %>

</div>
