Hello Shopper's Show!
<ul>
  <li>Name: <%= @shopper.name %></li>
  <li>Address: <%= @shopper.address %></li>
  <li>Address: <%= @shopper.city %></li>
  <li>Address: <%= @shopper.email %></li>
  <li>Address: <%= @shopper.state %></li>
  <li>Address: <%= @shopper.zip %></li>
  <li>Address: <%= @shopper.expiration_month %></li>
  <li>Address: <%= @shopper.expiration_year %></li>
  <li>Address: <%= @shopper.cvv %></li>
</ul>
