<h3 class= "alert"><%= flash[:notice] %></h3>

<p class="centered"><%=  image_tag @icon, class: "icon_photo" %> </p>

<ul class="create_cart_page">

   <% counter = 0 %>
  <% @products.each do |product| %>
      <li class="single_product">
        <%= link_to product.name, product %>
         <br>
        <% url = @pics_array[counter] %>
        <%= image_tag  "#{url}", class: "product_image"%><br>
      $<%= product.price %> <%= form_tag add_to_cart_path, method: "cart#update",  class: "display_inline" do %>
        x<%= number_field_tag :quantity %><br>
          <%=
            button_to "Add To Cart",
            add_to_cart_path,
            method: :patch,
            params: { product_id: product.id, name: product.name },
            class: "add_to_cart"
          %>
        <% end %>
      </li>
      <%  counter += 1  %>
  <% end %>
</ul>
