<h3 class= "alert"><%= flash[:notice] %></h3>

<%=  image_tag @icon, class: "your_cart" %>

<ul class="create_cart">

   <% counter = 0 %>
  <% @products.each do |product| %>
      <li>
        <%= link_to product.name, product %>
        <% url = @pics_array[counter] %>
        <%= image_tag  "#{url}"%>
        $<%= product.price %>

        <%= form_tag add_to_cart_path, method: "cart#update" do %>
          <%= number_field_tag :quantity %>
          <%=
            button_to "Add To Cart",
            add_to_cart_path,
            method: :patch,
            params: { product_id: product.id, name: product.name }
          %>
        <% end %>
      </li>
      <%  counter += 1  %>
  <% end %>
</ul>
