<h3 class= "alert"><%= flash[:notice] %></h3>
 <%= image_tag  "vegetables.jpg", class: "your_cart" %>
 <%= image_tag  "meats.jpg", class: "your_cart" %>
 <%= image_tag  "dairy.jpg", class: "your_cart" %>
 <%= image_tag  "fruits.jpg", class: "your_cart" %>


<ul class="create_cart">

counter = 0
  <% @products.map do |product| %>
      <li>
        <%= link_to product.name, product %>

      <%= image_tag  pic_array[counter], class: "product_image " %>
          counter += 1
        $<%= product.price %>

        <%= form_tag add_to_cart_path, method: "cart#update" do %>
          <%= number_field_tag :quantity %>
          <%=
            button_to "Add To Cart",
            add_to_cart_path,
            method: :patch,
            params: { product_id: product.id, name: product.name }
          %>
        <% end %>
      </li>
  <% end %>
</ul>


 <%= image_tag  "dairy/dai_pid_2003301_z.jpg", class: "product_image " %>
  <%= image_tag  "dairy/dai_natyolk_natwhtlg_z.jpg", class: "product_image " %>
   <%= image_tag  "dairy/dai_pid_2003188_z.jpg", class: "product_image " %>
   <%= image_tag  "dairy/dai_pid_2002509_z.jpg", class: "product_image " %>
 <%= image_tag  "dairy/d1.jpg", class: "product_image " %>
 <%= image_tag  "dairy/dai_orgval_sourcrm_z.jpg", class: "product_image " %>
