<!DOCTYPE html>
<html>
  <head>
    <title>FarmersMarket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header class="nav_bar">
    <%= link_to root_path do %>
         <%= image_tag  "fork.png", class: "btn home_button" %>
    <% end %>

    <%= link_to add_to_cart_path do %>
         <%= image_tag  "shopping-cart.png", class: "btn cart_button" %>
    <% end %>

    <% if logged_in? %>
      <%= link_to(logout_path, method: :delete) do %>
        <%= image_tag  "user-account-box.png", class: "btn account_button" %>
      <% end %>
    <% else %>
      <%= link_to login_path do %>
        <%= image_tag  "user-account-box.png", class: "btn account_button" %>
      <% end %>
    <% end %>

    <%= yield %>

  </header>

  <body class="body">
    <!-- <% if logged_in? %>
      <%= button_to('Logout', logout_path, method: :delete) %>
    <% end %> -->
  </body>
</html>
